# Frontend
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/coverage/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env*.local
!frontend/.env*.example
!frontend/.env.example
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# Backend
backend/.ruff_cache/
backend/__pycache__/
backend/**/__pycache__/
backend/*.py[oc]
backend/build/
backend/dist/
backend/wheels/
backend/*.egg-info
backend/.venv/
backend/.env

# Common
.DS_Store
*.pem
*.log
